*{
    margin: 0%;
    padding: 0%;
}

.back{
    width: 22%;
    position: absolute;
    left: 40%;
    top: 11%;
    height: 157%;
    background-image: url(voter.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.bars{
    position: absolute;
    top: 90px;
}

.cod{
    
    width: 60%;
    margin-left: 12px;
    height: 32px;
    float: left;
}

.hed{
    margin-left: 17px;
    line-height: 30px;
    float: left;
}

.im{
    width: 144px;
    height: 192px;
    margin-left: 96px;
    margin-top: 132px;
}

.info{
    margin-left: 12px;
    margin-top: 25px;
    font-weight: 600;
}
